<ion-header>
  <ion-toolbar>
    <!--boton volver-->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="productos"></ion-back-button>
    </ion-buttons>
    <ion-title>agregar-producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-input type="text" placeholder="Ingrese el nombre" #nombre ></ion-input>
          <ion-input type="text" placeholder="Ingrese la URL de la imagen" #url ></ion-input>
          <ion-input type="text" placeholder="Ingrese un comentario" #comentario ></ion-input>
          <ion-input type="number" placeholder="Ingrese precio" #precios ></ion-input>
          <ion-button color="warning" (click)="agregarProducto(nombre,url,comentario,precios)"> Agregar</ion-button>
        </ion-card-content>
      </ion-card>


    </ion-col>


  </ion-row>

</ion-content>
