<ion-header>
  <ion-toolbar>
    <ion-title>productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <!--LLAMANDO EL ELEMENTO CON UN FOR DE CICLO-->
    <!--routerLink es un redireccional = url = vinculo-->
    <!--la vaiable P = productos-->

    <ion-item *ngFor="let p of productos"[routerLink]="['/productos', p.id]"> 
      <ion-avatar slot="start">
        <ion-img [src]="p.imagenURL"></ion-img>
      </ion-avatar>

      <ion-label>{{ p.nombre }}</ion-label>

    </ion-item>
  </ion-list>

  <!--BOTON AGREGAR-->
    <!-- fab placed to the top end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="warning" (click)="redireccionarAgregar()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

</ion-content>
