<ion-header>
  <ion-toolbar color = "light">
  <ion-button slot = "start">
    <ion-back-button></ion-back-button>
  </ion-button>
  <ion-title class="testeo">{{datos.nombre}}</ion-title>

  <ion-button slot = "end">
    <ion-button (click) = "eliminar()">
      <ion-icon class="testeo" name="trash-outline"></ion-icon>
    </ion-button>
  </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>

  <!--creamos una grilla para las imagenes-->
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col>
        <ion-img [src]="datos.imagenURL"></ion-img>
      </ion-col>
    </ion-row>


    <!--nombre del objeto-->
    <ion-row>
      <ion-col>
        <h1 class="ion-tex-center">{{datos.nombre}}</h1>
      </ion-col>
    </ion-row>

    <!--comentarios-->
    <ion-row>
      <ion-col>
        <ion-list *ngIf=" datos.comentarios && datos.comentarios.length > 0; else sinComentarios">
          <!--com = variable comentario-->
          <ion-item *ngFor="let com of datos.comentarios">
            {{com}}
          </ion-item>
        </ion-list>

        <!--ngTemplates : es un segemento de codigo que aparece bajo una condicion-->
        <ng-template #sinComentarios>
          <ion-text>
            <p class="ion-text-center">Sin comentarios</p>
          </ion-text>

        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
