.fondo{
    --background: url(../../assets/img/fondo3.png) 0 0/100% 100% no-repeat;
}

.testeo{
    color: rgb(255, 255, 255);
}

.testeo2{
    color: rgb(61, 61, 61);
    font-size: smaller;
}

ion-input{
    --background: rgb(59, 59, 59);
    --border-radius: 3px;
}

