<ion-content class="fondo">
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row >
        <ion-col  class="testeo">
            <h3 class="ion-text-center" >Bienvenido</h3>
            <ion-input name="usuario" type="text" placeholder="ingrese usuario" ngModel required></ion-input>
            <ion-input name="contrasenia" type="password" placeholder="ingrese contraseña" ngModel required></ion-input>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block" >Login</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
