<ion-content class="fondo">
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row >
        <ion-col  class="testeo">
          <h3 class="ion-text-center">Bienvenido</h3>
          <h3> </h3>
              <ion-col style="text-align:center">
                <ion-input name="usuario" type="text" placeholder="Nombre de usuario" ngModel required></ion-input>
                <h1> </h1>
                <ion-input name="contrasenia" type="password" placeholder="Contraseña" ngModel required></ion-input>
                <h2> </h2>
                <ion-button color="warning" size="large" expand="block" fill="solid" type="submit" [disabled]="form.invalid" >Login</ion-button>
              </ion-col>
          </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
